/*Colour Picker: https://imagecolorpicker.com/color-code/C992e0*/

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    --maincolor: #C992e0;
    --lightermaincolor: #dfbeec;
    --accentcolor: #a9e092;
    --headercolor: #161417;
    --backgroundcolor: #161417;
    --lightbackgroundcolor: #433f45;
    --bordercolor: #726f73 ;
    --quizbackground: #2d2c2e;
  }

  html {
    background-color: var(--backgroundcolor);
  }

  
  body {
      background-color: var(--backgroundcolor);
      margin: 0;
      height: 100vh;
  
  }
  
  header {
    background-color: var(--headercolor);
    padding-bottom: 50px;
  }
  
  .title a h1 {
      text-align:center;
      color: #e4c9f0;
      border-color: var(--bordercolor);
      font-family: Helvetica, sans-serif;
      font-style: normal;
      text-decoration: none;
      padding-top: 20px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 50px;
  }
  
  .title a {
    text-decoration: none;
  }
  
  /* The navbar container */
  .topnav {
      overflow: hidden;
      border-top: solid;
      border-color: var(--bordercolor);
      padding-top: 20px;
      width: 100%;
      text-align: center;
    }
    
    /* Navbar links */
    .topnav a {
      color: var(--maincolor);
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Links - change color on hover */
    .topnav a:hover {
      color: var(--accentcolor);
    }

    .topnav a i {
        font-size: 24px;
    }
  
  
  h2 {
      text-align: left;
      margin-left: 10px;
      color: violet;
  }
  
  p {
      text-align: left;
      margin-left: 20px;
      color: white;
      font-family: Georgia, serif
  }


questions {
  text-align: -webkit-center;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
  .quiz {
    overflow: hidden;
    background-color: var(--quizbackground);
    padding: 20px;
    width: fit-content;
    margin: 10px;
    display: inline-block;
    text-align: left;
}

  .quiz form {
      padding-top: 15px;
  }

  .quiz label {
    color: var(--lightermaincolor);
    padding-left: 5px;
    font-family: Georgia, serif
  }

  .quiz input[type='radio'] {
    accent-color: #ee0d1f;
  }
  .correct input[type='radio'] {
    accent-color: #88ff72;
  }

  .quiz qtitle {
    text-align: left;
    color: white;
    font-family: Georgia, serif
  }

python_questions {
  text-align: -webkit-center;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
  .quiz {
    overflow: hidden;
    background-color: var(--quizbackground);
    padding: 20px;
    width: fit-content;
    margin: 10px;
    display: inline-block;
    text-align: left;
}

  .quiz form {
      padding-top: 15px;
  }

  .quiz label {
    color: var(--lightermaincolor);
    padding-left: 5px;
    font-family: Georgia, serif
  }

  .quiz input[type='radio'] {
    accent-color: #ee0d1f;
  }
  .correct input[type='radio'] {
    accent-color: #88ff72;
  }

  .quiz qtitle {
    text-align: left;
    color: white;
    font-family: Georgia, serif
  }


  #menu-icon {
    position: fixed;
    top: 30px; 
    left: 30px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  
  #menu-icon .bar1,
  #menu-icon .bar2,
  #menu-icon .bar3 {
    background-color: var(--lightermaincolor);
    width: 100%;
    height: 4px;
    margin-top: 5px;
  }

  #sidebar-menu {
    display: none;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--lightbackgroundcolor);
    z-index: 1;
  }

  #sidebar-space {
    position: fixed;
    top: 0;
    left: 200px;
    height: 100vh;
    width: calc(100vw - 200px);
  }

  #sidebar-menu.active {
    display: block;
  }
