/*Colour Picker: https://imagecolorpicker.com/color-code/C992e0*/
:root {
    --maincolor: #C992e0;
    --lightermaincolor: #dfbeec;
    --accentcolor: #a9e092;
    --headercolor: #161417;
    --backgroundcolor: #161417;
    --lightbackgroundcolor: #433f45;
    --bordercolor: #726f73 ;
    --quizbackground: #2d2c2e;
  }
  
  body {
      background-color: var(--backgroundcolor);
      margin: 0;
  
  }
  
  header {
    background-color: var(--headercolor);
  }
  
  .title a h1 {
      text-align:center;
      color: #e4c9f0;
      border-color: var(--bordercolor);
      font-family: Helvetica, sans-serif;
      font-style: normal;
      text-decoration: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 50px;
  }
  
  .title a {
    text-decoration: none;
  }
  
  /* The navbar container */
  .topnav {
      overflow: hidden;
      border-top: solid;
      border-color: var(--bordercolor);
      padding-bottom: 20px;
      padding-top: 20px;
      width: 100%;
      text-align: center;
    }
    
    /* Navbar links */
    .topnav a {
      color: var(--maincolor);
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Links - change color on hover */
    .topnav a:hover {
      color: var(--accentcolor);
    }

    .topnav a i {
        font-size: 24px;
    }
  
  
  h2 {
      text-align: left;
      margin-left: 10px;
      color: violet;
  }
  
  p {
      text-align: left;
      margin-left: 20px;
      color: white;
      font-family: Georgia, serif
  }



  .quiz {
    overflow: hidden;
    background-color: var(--quizbackground);
    padding: 20px;
    width: fit-content;
    margin-left: 20px;
}

  .quiz form {
      padding-top: 15px
  }

  .quiz label {
    color: var(--lightermaincolor);
  }

  .quiz input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    align-items: center;
  }

  .quiz input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e09299;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  .correct input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #88ff72;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  .quiz qtitle {
    text-align: left;
    color: white;
    font-family: Georgia, serif
  }